.database {
  padding: 40px;
  background: linear-gradient(135deg, #1e293b, #0f172a);
  height: 100%;
  width: 100%;
  color: white;
}

.database h2 {
  margin-bottom: 20px;
}

.table-container {
  overflow-x: auto;
  background: white;
  border-radius: 12px;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: black;
}

thead {
  background: #334155;
  color: white;
}

th, td {
  padding: 12px 15px;
  text-align: left;
}

th {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

tbody tr {
  border-bottom: 1px solid #334155;
  transition: background 0.2s ease;
  text-transform: capitalize;
  font-size: 15px;
}

tbody tr:hover {
  background: #334155;
  color: white;
}

.role {
  padding: 4px 10px;
  display: inline-block;
  border-radius: 20px;
  color: white;
}

.role-admin {
  background: #dc2626;
}

.role-user {
  background: #2563eb;
}

.actionButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
}

.delete-btn {
    background: #dc2626;
}

.edit-btn {
    background: #2563eb;
}