.admin {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sidebar {
    width: 250px;
    height: 100%;
}

.sidebar p {
    font-size: 18px;
    margin: 0;
    padding: 10px;
}

.sidebar p:hover {
    background: black;
    cursor: pointer;
}