.topBar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  background: #00aaff;
  color: black;
  padding: 0 2rem;
  box-sizing: border-box;
  border-bottom: 0.2rem solid #ccc;
}

.dashboardContent {
  margin-top: 5rem;
  height: calc(100vh - 5rem);
  width: 100vw;
}
