.topBar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: white;
  color: black;
  padding: 0 2rem;
  box-sizing: border-box;
}

