.login {
    width: 300px;
    padding: 20px; border: 1px solid #eee;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px white; 
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    display: flex;
    width: 100%;
}

button:hover {
    background-color: #646cff;
}