.login {
    width: 300px;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--shade-color);
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    display: flex;
    width: 100%;
}