.topBar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  background: #00aaff;
  color: black;
  padding: 0 2rem;
  box-sizing: border-box;
  border-bottom: 0.2rem solid white;
}

.user {
    display: flex;
    width: 100vw;
    height: calc(100vh - 5rem);
    margin-top: 5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sidebar {
    width: 250px;
    height: 100%;
    color: var(--text-color);
}

.sidebar p {
    font-size: 18px;
    margin: 0;
    padding: 10px;
}

.sidebar p:hover {
    background: var(--button-hover-color);
    color: var(--button-text-hover-color);
}